<% if @user.errors.any? %>
  <p><%= @user.errors.count %>errors</p>
  <% @user.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<h2>User info</h2>
<%= form_with model:@user, local:true do |f| %>
  <p><label for="inputName">Name</label></p>
  <%= f.text_field :name, autofocus: true, id:"user_name" %>

  <p><label for="inputImage">Image</label></p>
  <%= f.attachment_field :profile_image %>

  <p><label for="inputIntroduction">Introduction</label></p>
  <%= f.text_field :introduction, autofocus: true, id:"user_introduction" %>

  <p><%= f.submit "Update User" %></p>
<% end %>