<% if @book.errors.any? %>
  <p><%= @book.errors.count %>errors</p>
  <% @book.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  		<h1>Editing Book</h1>

      <%= form_with model:@book, local:true do |f| %>
        <p><label for="book_title">Title</label></p>
        <p><%= f.text_field :title, autofocus: true, id:"inputTitle" %></p>
        <label for="book_body">Opinion</label>
        <p><%= f.text_area :body, autofocus: true, id:"inputBody" %></p>

        <%= f.submit "Update Book" %>

        <p><%= link_to "Show", book_path(@book.id) %>
               |
           <%= link_to "Back", books_path %>
        </p>
      <% end %>



